@import "../../assets/styles/constants";

.aboutContainer {
  display: grid;
  grid-template-columns: 51% 49%;


  .info {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .name {
      margin-bottom: 30px;
      display: block;
    }

    p {
      margin: 0;
      width: 82%;
    }

    .photo {
      margin:auto 0;
      color: $grayText;
    }

    .factsRendererContainer {
      margin-top:80px;
      width: 82%;

      .factsLabel {
        cursor: pointer;
        color: $grayText;
        display: block;
        text-decoration: none;

        &:nth-child(2) {
          margin-bottom: 40px;
        }
      }

      .openFactsLabel {
        color: $blackText;
        margin-bottom: 24px;
      }

      .openedAccordion {
        display: grid;
        grid-template-rows: auto 100%;
        grid-column-gap: 24px;
        transition: max-height 0.5s cubic-bezier(.525, .66, .495, 1.4);
        margin-bottom: 40px;
      }

      :hover{
        color:black;
      }
    }
  }

  .iraPhoto {
    position: sticky;
    top: 66px;
    height: calc(100vh - 82px);
    width: 100%;
    background-image: url('../../assets/images/about/ira2.jpg');
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
  }

}

@media screen and (max-width: 960px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;

    .info {
      order: 2;
      margin-top: 0;

      p {
        width: 100%;
      }

      .photo {
        margin:40px 0;
      }

      .factsRendererContainer {
        margin-bottom: 0;

        .factsLabel {
          color: $blackText;
        }
      }
    }

    .iraPhoto {
      order: 1;
      position:static;
      background-size: cover;
      max-height: 449px;
      background-position: bottom;
      width: 100%;
      margin-bottom: 32px;

    }

    footer {
      order:3;
      bottom: 32px;
    }
  }

}


@media screen and (max-width: 1370px){
  .aboutContainer {

    .iraPhoto {
      height: calc(100vh - 60px);
      top:44px;
    }
  }
}