@import "../../assets/styles/constants";

.contactsContainer {
  display: grid;
  grid-template-columns: 51% 49%;

  .info {
    margin-top: 150px;
    list-style: none;
    padding: 0;
    color: $blackText;

    a {
      color: $blackText;
    }
  }

  .photo {
    position: -webkit-sticky;
    position: sticky;
    top: 66px;
    height: calc(100vh - 82px);
    width: 100%;
    background-image: url('../../assets/images/contacts/image1.png');
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;

  }
}

@media screen and (max-width: 960px) {
  .contactsContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;

    .info {
      margin:0 0 40px 0;
    }

    .photo {
      order: 1;
      position:static;
      background-size: cover;
      max-height: 519px;
      background-position: center;
    }

    footer {
      bottom: 32px;
    }
  }
}
