@import "../../assets/styles/constants";

.contactsContainer {
  display: grid;
  grid-template-columns: 51% 49%;

  .info {
    margin-top: 150px;
    list-style: none;
    padding: 0;
    color: $blackText;

    a {
      color: $blackText;
    }
  }

  .photo {
    position: sticky;
    top: 66px;
    height: calc(100vh - 76px);
    width: 100%;
    background-image: url('../../assets/images/contacts/image2.jpg');
    background-repeat: no-repeat;
    background-position:bottom 15% center;
    background-size: cover;

  }
}


@media screen and (max-width: 1370px){
  .contactsContainer {

    .photo {
      height: calc(100vh - 60px);
    }
  }
}


@media screen and (max-width: 960px) {
  .contactsContainer {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 65px);

    .info {
      margin:24px 0 40px 0;
    }

    .photo {
      order: 1;
      position:static;
      background-size: cover;
      width: 100%;
      margin-bottom: 32px;
    }

    footer {
      order:2;
    }
  }
}
