@import "../../assets/styles/constants";

.container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-end;
  width: 100%;

  .imgWrap {
    width: 50%;
    height: 661px;
    transition: .8s cubic-bezier(0.25, 0.11, 0.38, 0.94);
    overflow: hidden;


    .img {
      width: 100%;
      height: 100%;
      transition: .8s cubic-bezier(0.48, 0.08, 0.38, 0.94);
    }

    &:hover {
      width: calc(50% + 333px);

      .img {
        transform: scale(1, 1.2);
      }
    }
  }


}

//.imgWrap {
//  width: 50%;
//  height: 661px;
//  transition: .8s cubic-bezier(0.25, 0.11, 0.38, 0.94);
//  overflow: hidden;
//
//  &:hover {
//    width: calc(50% + 333px);
//
//    .img {
//      transform: scale(1, 1.2);
//    }
//  }
//}

//.img {
//  width: 100%;
//  height: 100%;
//  transition: .8s cubic-bezier(0.48, 0.08, 0.38, 0.94);
//}

