@import "../../assets/styles/constants";

.jewelryContainer {
  display: grid;
  row-gap: 16px;

  .item {
    display: grid;
    grid-template-columns: 50% 50%;
    color: $grayText;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $blackText
    }

    .photoDescription {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      padding-left: 20px;
      margin-left: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}