@import "../../assets/styles/constants";

.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: $lightGrayText;
  bottom: 16px;

}

.halfPage {
  left: 16px;
  width: calc(50% - 32px);
}

@media screen and (max-width: 960px){
  .footer{
    position:static;
    padding-bottom: 16px;
  }
}