@import "../../assets/styles/constants";

.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: $lightGrayText;
  width: calc(100% - 32px);
  bottom: 16px;
  font-size: 12px;

}

.halfPage {
  left: 16px;
  width: calc(50% - 32px);
  font-size: 12px;
}

@media screen and (max-width: 1470px){
  .footer{
    font-size: 12px;
  }
}
